altgraph==0.15
certifi==2018.1.18
chardet==3.0.4
docutils==0.14
future==0.16.0
idna==2.6
Kivy==1.10.0
Kivy-Garden==0.1.4
kivy.deps.angle==0.1.6
kivy.deps.glew==0.1.9
kivy.deps.gstreamer==0.1.12
kivy.deps.sdl2==0.1.17
macholib==1.9
pefile==2017.11.5
Pygments==2.2.0
PyInstaller==3.3.1
pypiwin32==220
pyTelegramBotAPI==3.7.1
requests==2.7.0
selenium==3.141.0
six==1.15.0
somepackage==1.2.3
telebot==0.0.3
urllib3==1.22
XlsxWriter==1.2.9
